<section><div>
    <h3>
      {{#with courseID}}
        {{NODE}}
        This is NODE
      {{else}}
        Not found
      {{/with}}
    </h3>
    <h3>
      {{#if courseID}}
        This is NODE too
      {{else}}
        Not found
      {{/if}}
    </h3>
  </div></section>