<div id="#" class="sc-main-container">
  <div class="sc-map">
    <div class="sc-indexer sc-indexer-rows">
      <div class="sc-seat-indexer">A</div>
      <div class="sc-seat-indexer"></div>
      <div class="sc-seat-indexer"></div>
      <div class="sc-seat-indexer"></div>
      <div class="sc-spacer"></div>
      <div class="sc-seat-indexer">B1</div>
      <div class="sc-seat-indexer"></div>
      <div class="sc-seat-indexer"></div>
      <div class="sc-seat-indexer"></div>
      <div class="sc-spacer"></div>
      <div class="sc-seat-indexer">B2</div>
      <div class="sc-seat-indexer"></div>
      <div class="sc-seat-indexer"></div>
      <div class="sc-spacer"></div>
    </div>
    <div class="sc-map-inner-container">
      <div class="sc-front">Room</div>
      <div class="sc-indexer sc-indexer-columns">
        <div class="sc-seat-indexer"></div>
        <div class="sc-seat-indexer"></div>
        <div class="sc-seat-indexer"></div>
        <div class="sc-seat-indexer"></div>
        <div class="sc-seat-indexer"></div>
        <div class="sc-seat-indexer"></div>
        <div class="sc-spacer"></div>
      </div>
      <div class="sc-seats-container">
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available first-class">10:00</div>
          <div class="sc-seat sc-seat-selected first-class">10:30</div>
          <div class="sc-seat sc-seat-selected first-class">11:00</div>
          <div class="sc-seat sc-seat-available first-class">11:30</div>
          <div class="sc-seat sc-seat-available first-class">12:00</div>
          <div class="sc-seat sc-seat-reserved first-class">12:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available first-class">13:00</div>
          <div class="sc-seat sc-seat-available first-class">13:30</div>
          <div class="sc-seat sc-seat-available first-class">14:00</div>
          <div class="sc-seat sc-seat-available first-class">14:30</div>
          <div class="sc-seat sc-seat-reserved first-class">15:00</div>
          <div class="sc-seat sc-seat-available first-class">15:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available first-class">16:00</div>
          <div class="sc-seat sc-seat-available first-class">16:30</div>
          <div class="sc-seat sc-seat-available first-class">17:00</div>
          <div class="sc-seat sc-seat-available first-class">17:30</div>
          <div class="sc-seat sc-seat-available first-class">18:00</div>
          <div class="sc-seat sc-seat-available first-class">18:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available first-class">19:00</div>
          <div class="sc-seat sc-seat-available first-class">19:30</div>
          <div class="sc-seat sc-seat-available first-class">20:00</div>
          <div class="sc-seat sc-seat-available first-class">20:30</div>
          <div class="sc-seat sc-seat-available first-class">21:00</div>
          <div class="sc-seat sc-seat-available first-class">21:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-spacer"></div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available economy">10:00</div>
          <div class="sc-seat sc-seat-available economy">10:30</div>
          <div class="sc-seat sc-seat-available economy">11:00</div>
          <div class="sc-seat sc-seat-available economy">11:30</div>
          <div class="sc-seat sc-seat-available economy">12:00</div>
          <div class="sc-seat sc-seat-available economy">12:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available economy">13:00</div>
          <div class="sc-seat sc-seat-available economy">13:30</div>
          <div class="sc-seat sc-seat-available economy">14:00</div>
          <div class="sc-seat sc-seat-available economy">14:30</div>
          <div class="sc-seat sc-seat-available economy">15:00</div>
          <div class="sc-seat sc-seat-available economy">15:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available economy">16:00</div>
          <div class="sc-seat sc-seat-available economy">16:30</div>
          <div class="sc-seat sc-seat-available economy">17:00</div>
          <div class="sc-seat sc-seat-available economy">17:30</div>
          <div class="sc-seat sc-seat-available economy">18:00</div>
          <div class="sc-seat sc-seat-available economy">18:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available economy">19:00</div>
          <div class="sc-seat sc-seat-available economy">19:30</div>
          <div class="sc-seat sc-seat-available economy">20:00</div>
          <div class="sc-seat sc-seat-available economy">20:30</div>
          <div class="sc-seat sc-seat-available economy">21:00</div>
          <div class="sc-seat sc-seat-available economy">21:30</div>
          <div class="sc-spacer"></div>
        </div>
        <!-- #for additional -->
        <div class="sc-spacer"></div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available reduced">10:00</div>
          <div class="sc-seat sc-seat-available reduced">10:30</div>
          <div class="sc-seat sc-seat-available reduced">11:00</div>
          <div class="sc-seat sc-seat-available reduced">11:30</div>
          <div class="sc-seat sc-seat-available reduced">12:00</div>
          <div class="sc-seat sc-seat-available reduced">12:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available reduced">13:00</div>
          <div class="sc-seat sc-seat-available reduced">13:30</div>
          <div class="sc-seat sc-seat-available reduced">14:00</div>
          <div class="sc-seat sc-seat-available reduced">14:30</div>
          <div class="sc-seat sc-seat-available reduced">15:00</div>
          <div class="sc-seat sc-seat-available reduced">15:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available reduced">16:00</div>
          <div class="sc-seat sc-seat-available reduced">16:30</div>
          <div class="sc-seat sc-seat-available reduced">17:00</div>
          <div class="sc-seat sc-seat-available reduced">17:30</div>
          <div class="sc-seat sc-seat-available reduced">18:00</div>
          <div class="sc-seat sc-seat-available reduced">18:30</div>
          <div class="sc-spacer"></div>
        </div>
        <div class="sc-seat-row">
          <div class="sc-seat sc-seat-available reduced">19:00</div>
          <div class="sc-seat sc-seat-available reduced">19:30</div>
          <div class="sc-seat sc-seat-available reduced">20:00</div>
          <div class="sc-seat sc-seat-available reduced">20:30</div>
          <div class="sc-seat sc-seat-available reduced">21:00</div>
          <div class="sc-seat sc-seat-available reduced">21:30</div>
          <div class="sc-spacer"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- #disable -->
  <div class="sc-right-container">
    <div class="sc-cart">
      <div class="sc-cart-header">
        <p class="sc-cart-title">Time {}</p>
        <!-- # Ting : Please help for... -->
        <button class="sc-cart-btn sc-cart-btn-delete" type="button">
          <div class="sc-cart-btn-icon"></div>
        </button>
      </div>
      <div class="sc-cart-table-container">
        <table class="sc-cart-table">
          <tr>
            <td>
              <div class="sc-ticket first-class">
                <div class="sc-ticket-stripes"></div>
                <div class="sc-ticket-seat-label">12:30</div>
                <div class="sc-ticket-seat-type">Room A</div>
                <div class="sc-ticket-stripes"></div>
              </div>
            </td>
            <td>$5.00</td>
            <!-- # Ting : Please help for... -->
            <td>
              <button class="sc-cart-btn sc-cart-btn-delete" type="button">
                <div class="sc-cart-btn-icon"></div>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="sc-ticket first-class">
                <div class="sc-ticket-stripes"></div>
                <div class="sc-ticket-seat-label">13:00</div>
                <div class="sc-ticket-seat-type">Room A</div>
                <div class="sc-ticket-stripes"></div>
              </div>
            </td>
            <td>$5.00</td>
            <td>
              <!-- # Ting : Please help for... -->
              <button class="sc-cart-btn sc-cart-btn-delete" type="button">
                <div class="sc-cart-btn-icon"></div>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="sc-cart-footer">
        <p class="sc-cart-total">Total: €50.00</p>
        <button class="sc-cart-btn sc-cart-btn-submit" type="button">
          Book
        </button>
      </div>
    </div>
    <!-- #disable -->
    <ul class="sc-legend">
      <li class="sc-legend-item">
        <div class="sc-legend-bullet first-class"></div>
        <p class="sc-legend-description">Room A ($5)</p>
      </li>
      <li class="sc-legend-item">
        <div class="sc-legend-bullet economy"></div>
        <p class="sc-legend-description">Room B1 ($2)</p>
      </li>
      <li class="sc-legend-item">
        <div class="sc-legend-bullet reduced"></div>
        <p class="sc-legend-description">Room B2 ($1)</p>
      </li>
      <li class="sc-legend-item">
        <div class="sc-legend-bullet sc-seat-reserved"></div>
        <p class="sc-legend-description">Reserved</p>
      </li>
    </ul>

  </div>
</div>